<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand px-3" href="#">
    <%= image_tag("popcorn-minimalist-and-flat-logo-illustration-vector.jpg", width: 30, height: 30, alt: "Popcorn Logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav pe-5 p-">
        <%= link_to 'My list', lists_path, class: "text-decoration-none text-dark mx-3"%>
        <%= link_to 'New list', new_list_path(@lists), class: "text-decoration-none text-dark mx-3"%>
    </div>
  </div>
</nav>
